h1 {
  color: #161616;
  font-family: 'Titillium Web', sans-serif;
  font-size: 100px;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
}
h2 {
  color: #F78888;
  font-family: 'Titillium Web', sans-serif;
  font-size: 35px;
  padding-top: 10rem;
  padding-bottom: 5rem;
  text-align: center;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #ffffff;
}
body {
  padding-bottom: 3rem;
  color: #ECECEC;
  background-color: #ECECEC;

}
/*
 *   Spacing
 */
.space-bottom {
  padding-bottom: 5rem;
}
.space {
  padding-left: 2rem;
  padding-right: 2rem;
}
.container {
  width: 500px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  justify-content: center;
  margin: 20px;
  margin-top: 35px;
}

.card {
  height: 350px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #93C178;
  text-align: center;
  border-radius: 5px;
  padding: 20px;

  transition: box-shadow .3s ease;
}
.card:hover {
  /* border: 1px solid #777; */
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img {
  height: 200px;
  width: 200px;
  margin-bottom: 12px;
  float: top;
  object-fit: cover;
}

.responsive {
  /* padding: 0 6px;
  float: left;
  width: 24.99999%; */
  padding: 30px;
}

/* @media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
} */

/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
} */


/*.sidewaysSpace {
  padding-right: 3rem;
  padding-left: 3rem;
}*/

.btn-outline-primary {
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  color: #465C8B;
  background-color:transparent;
  background-image:none;
  border-color: #465C8B;
  font-size: 17px;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #465C8B;
  border-color: #465C8B;
  box-shadow: 0 4px px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-outline-secondary {
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  color: #225e9e;
  background-color:transparent;
  background-image:none;
  border-color: #225e9e;
  font-size: 17px;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-image: linear-gradient(to right, #465C8B 0%, #712c69 100%);
  border-color: #225e9e;
  box-shadow: 0 4px px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-outline-tertiary {
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  color: #712c69;
  background-color:transparent;
  background-image:none;
  border-color: #712c69;
  font-size: 17px;
}
.btn-outline-tertiary:hover {
  color: #fff;
  background-color: #712c69;
  border-color: #712c69;
  box-shadow: 0 4px px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*
 * Header Navigation Setup
 */
.nav-link {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 0 5rem 0 5rem;
  align-content: center;
  font-weight: 400;
  color: #161616;
  background-color: #ECECEC;
  border-bottom: 0.25rem solid transparent;
}
.nav-link + .nav-link {
  margin-left: 1rem;
}
/* Extra pretty stuff*/
.magical--underline {
  background-image: linear-gradient(45deg, #225e9e 0%, #712c69 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 95%;
  transition: background-size 0.25s linear, color 0.2s linear;
  text-decoration: none;
  padding: 2px;
}
.magical--underline:hover {
  color: #fff;
  background-size: 100% 95%;
}

#wrapper {
  text-align: center;
}
#buttons {
  display: inline-block;
}
