h1 {
  color: #161616;
  font-family: 'Titillium Web', sans-serif;
  font-size: 100px;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
}
h2 {
  color: #F78888;
  font-family: 'Titillium Web', sans-serif;
  font-size: 35px;
  padding-top: 10rem;
  padding-bottom: 2rem;
  text-align: center;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #ffffff;
}
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #ECECEC;
}
/*
 *	 Spacing
 */
.space-bottom {
  padding-bottom: 5rem;
}
.space {
  padding-left: 2rem;
  padding-right: 2rem;
}
.container {
  max-width: 500px;
  margin: auto;
}

.btn-outline-primary {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  color: #465C8B;
  background-color:transparent;
  background-image:none;
  border-color: #465C8B;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #465C8B;
  border-color: #465C8B;
}

.btn-outline-secondary {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  color: #712c69;
  background-color:transparent;
  background-image:none;
  border-color: #712c69;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #712c69;
  border-color: #712c69;
}

.btn-outline-tertiary {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  color: #712c69;
  background-color:transparent;
  background-image:none;
  border-color: #712c69;
}
.btn-outline-tertiary:hover {
  color: #fff;
  background-color: #712c69;
  border-color: #712c69;
}
/*
 * Header Navigation Setup
 */
.nav-link {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 0 5rem 0 5rem;
  align-content: center;
  font-weight: 400;
  color: #161616;
  background-color: white;
  border-bottom: 0.25rem solid transparent;
}
.nav-link + .nav-link {
  margin-left: 1rem;
}
/* Extra pretty stuff*/
.magical--underline {
  background-image: linear-gradient(45deg, #225e9e 0%, #712c69 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 95%;
  transition: background-size 0.25s linear, color 0.2s linear;
  text-decoration: none;
  padding: 2px;
}
.magical--underline:hover {
  color: #fff;
  background-size: 100% 95%;
}

#wrapper {
  background-color: transparent;/* for visualization purposes */
  text-align: center;
}
#buttons {
  background-color: transparent; /* for visualization purposes */
  display: inline-block;
}
