h1 {
    color: #161616;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
}

/*
 * Base structure
 */

 html,
 body {
    height: 100%;
    background-color: #ffffff;
 }

 body {
    padding-bottom: 3rem;
    color: #ECECEC;
 }

/*
 * Header Navigation Setup
 */

 .nav-link {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 0 5rem 0 5rem;
    align-content: center;
    font-weight: 400;
    color: #F78888;
    background-color: white;
    border-bottom: .25rem solid transparent;
 }

 .nav-link + .nav-link {
    margin-left: 1rem;
 }


/* Profile Sidebar Setup */
.profile {
    padding: 20px 0 40px 0;
  margin: 30px 0;
  color: #ECECEC;
  text-align: center
}

/* Profile sidebar */
.profile-sidebar {
  padding: 40px 0 40px 0;
  background: #F78888;;
}
.personal-info-rows {
    font-size: 15px;
    color: #5DA2D5;
    text-align: left;
}

.name {
  color: #000;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}